<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <!-- Open Graph -->
    <meta property="og:title" content="omomuck" />
    <meta property="og:type" content="website" />
    <!-- Css / change img path -->
    <meta property="og:image" content="../static/images/op-img.jpg" />
    <meta property="og:description" content="오늘 모 모글지 모를 땐 - 오늘 모 먹지" />
    <!-- Twitter Theme -->
    <meta name="twitter:widgets:theme" content="light">
    <title>모 모글지 모를 때 - 오모먹</title>
    <!-- Title &amp; Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/pavicon.png">
    <meta name="description" content="오늘 모 모글지 모를 땐 - 오늘 모 먹지">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CHind+Madurai:400,500&amp;subset=latin-ext" rel="stylesheet">
    <!-- Css / change css stylesheet code -->
    <link rel="stylesheet" href="../static/css/core.min.css" />
    <link rel="stylesheet" href="../static/css/skin.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="shop home-page" data-loader-type="full-width-bar">
    <!-- Side Navigation Menu -->
    <aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
        <div class="side-navigation-scroll-pane">
            <div class="side-navigation-inner">
                <div class="side-navigation-header">
                    <div class="navigation-hide side-nav-hide">
                        <a href="#">
                            <span class="icon-cancel medium"></span>
                        </a>
                    </div>
                </div>
                <nav class="side-navigation nav-block">
                    <ul>
                        <li>
                            <a href="food-search">맛집 검색</a>
                        </li>
                        <li>
                            <a href="https://spartacodingclub.kr" target="_blank">코딩 맛집</a>
                        </li>
                    </ul>
                </nav>
                <div class="side-navigation-footer">
                    <p class="copyright no-margin-bottom">&copy; 2019 omomuck.</p>
                </div>
            </div>
        </div>
    </aside>
    <!-- Side Navigation Menu End -->
    <div class="wrapper reveal-side-navigation">
        <div class="wrapper-inner">
            <!-- Header -->
            <header class="header header-absolute header-fixed-on-mobile header-transparent" data-helper-in-threshold="200" data-helper-out-threshold="500" data-sticky-threshold="200" data-bkg-threshold="100" data-compact-threshold="100">
                <div class="header-inner">
                    <div class="row nav-bar">
                        <div class="column width-12 nav-bar-inner">
                            <div class="logo">
                                <div class="logo-inner">
                                    <a href="/"><img src="../static/images/logo-dark.png" alt="omomuck" /></a>
                                    <a href="/"><img src="../static/images/logo.png" alt="omomuck" /></a>
                                </div>
                            </div>
                            <nav class="navigation nav-block secondary-navigation nav-right">
                                <ul>
                                    <li>
                                    </li>
                                    <li class="aux-navigation hide">
                                        <!-- Aux Navigation -->
                                        <a href="#" class="navigation-show side-nav-show nav-icon">
                                            <span class="icon-menu"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <nav class="navigation nav-block primary-navigation nav-right">
                                <!--Main Contents Menu-->
                                <ul>
                                    <li>
                                        <a href="food-search">맛집 검색</a>
                                    </li>
                                    <li>
                                        <a href="https://spartacodingclub.kr" target="_blank">코딩 맛집</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Header End -->
            <!-- Content -->
            <div class="content clearfix reveal-footer">
                <!-- Full Width Slider -->
                <div class="section-block pt-0 pb-0">
                    <div id="fws-1" class="tm-slider-container full-width-slider" data-scale-under="1140" data-speed="1000">
                        <ul class="tms-slides">
                            <li class="tms-slide" data-image data-force-fit data-animation="slideTopBottom" data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.1">
                                <div class="tms-content">
                                </div>
                                <img data-src="../static/images/main/main-slide-2.jpg" data-retina src="images/blank.png" alt="" />
                            </li>
                            <li class="tms-slide" data-image data-force-fit data-animation="slideTopBottom" data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.0">
                                <div class="tms-content">
                                </div>
                                <img data-src="../static/images/main/main-slide-3.jpg" data-retina src="images/blank.png" alt="" />
                            </li>
                            <li class="tms-slide" data-image data-force-fit data-animation="slideTopBottom" data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.0">
                                <div class="tms-content">
                                </div>
                                <img data-src="../static/images/main/main-slide-1.jpg" data-retina src="images/blank.png" alt="" />
                            </li>
                            <!-- 
                            <li class="tms-slide" data-image data-force-fit data-animation="slideTopBottom" data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.3">
                                <div class="tms-content">
                                    <div class="tms-content-inner center">
                                        <div class="row">
                                            <div class="column width-12 main-slide-txt">
                                                <h5> <span class="tms-caption" data-animate-in="preset:flipInY;duration:300ms;;" data-no-scale> 빈 칸 </span> </h5>
                                                <hr>
                                                <h3 class="title-medium font-alt-2 weight-light color-white mb-10">
                                                    <span class="tms-caption" data-animate-in="preset:slideInUpShort;duration:800ms;;" data-no-scale>빈칸</span>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <img data-src="../static/images/main/main-slide-2.jpg" data-retina src="images/blank.png" alt="" />
                            </li> -->
                        </ul>
                    </div>
                </div>
                <!-- Full Width Slider -->
                <!-- mobile- middle-slider -->
                <div class="container top-var-2 mobile-2">
                    <div class="row flex div-bar-2">
                        <div class="column width-12">
                            <div class="float-p-2">
                                <p id="top-p-2">어떤 맛집을 찾으시나요? 지금 바로 <strong>검색</strong>하세요. <br></p>
                            </div>
                            <div class="id-time">
                                <a id="timetable-2" href="food-search"><strong>바로 '오모먹'에서!</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- mobile- middle-slider End -->
                <!-- middle-slider -->
                <div class="container top-var-1 pc">
                    <div class="row flex div-bar">
                        <div class="column width-12">
                            <div class="float-p">
                                <p id="top-p">어떤 맛집을 찾으시나요? 지금 바로 <strong>검색</strong>하세요. <a id="timetable" href="food-search"><strong>바로 '오모먹'에서!</strong></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- middle-slider End -->
                <!-- Intro Section -->
                <div class="section-block clear-height-on-mobile bkg-intro">
                    <div class="media-overlay   horizon"></div>
                    <div class="row flex v-align-middle one-column-on-tablet">
                        <div class="column width-8 offset-2 center horizon" data-animate-in="preset:scaleIn;duration:1000ms;easing:easeInOutCubic" data-threshold="0.1">
                            <img src="../static/images/main/title.png"><br><br>
                            <p class="pc-p lead weight-light color-white mb-30" style="font-weight: 500; font-size: 1.7rem;">
                                점심이고, 저녁이고 30분 전부터 시작되는 고민! 오늘은 정말 어디 가서 먹어야 할지 도통 알 수 없을 때, 편하게 검색해보세요. <strong>어디 가서 먹을지 알게 될테니!</strong>
                            </p>
                            <p class="mobile-p lead weight-light color-white mb-30" style="font-weight: 500; font-size: 1.7rem;">
                                점심이고, 저녁이고 30분 전부터 시작되는 고민! 오늘은 정말 어디 가서 먹어야 할지 도통 알 수 없을 때, 편하게 검색해보세요. <strong>어디 가서 먹을지 알게 될테니!</strong>
                            </p>
                            <div class="mb-mobile-30">
                                <a href="company/business/main.html" class="button rounded medium bkg-white color-black bkg-hover-black color-hover-white scroll-link" style="border-radius: 50px !important; margin-bottom:-10px;">search
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Intro Section End -->
                <!-- Section 01 -->
                <div class="section-block pb-0 bkg-ash bkg-main-img-01">
                    <div class="row flex">
                        <div class="column width-5 push-6 mb-mobile-40 v-align-middle section-height">
                            <div>
                                <h5 class="mb-10 color-white opacity-07">about us</h5>
                                <h3 class="color-white section-txt"><strong>메모장 어딘가</strong><br>숨어있을 맛집 리스트,<br>기억 나시나요?</h3>
                                <p class="color-white" style="text-align: justify;">맛집을 보거나, 맛집에서 먹고 나서는 메모장에 적어둔 적 한 번쯤은 있으시죠? 하지만 나중에 그 맛집이 필요할 때는 한참 뒤적 뒤적. 다행입니다. 이제 웹으로 간편하게 '나만의 맛집 리스트'를 저장하고 언제나 확인할 수 있거든요. </p>
                                <p class="color-white" style="text-align: justify;">'오모먹'답네요. </p>
                            </div>
                        </div>
                        <div class="column width-6 pull-5 v-align-middle center">
                            <div class="thumbnail mb-0 horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;">
                                <!-- <img src="../static/images/generic/iphone-1.jpg" width="350" alt="" style="margin-top: -80px"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section 01 End -->
                <!-- Features -->
                <div class="section-block pb-30 bkg-grey-ultralight">
                    <div class="row">
                        <div class="column width-8 offset-2 center">
                            <h3 class="mb-30" style="margin-bottom: 10px;"><strong>이렇게 활용하세요</strong></h3>
                            <hr style="margin: 0 auto; color: #ededed; width: 150px; padding-bottom: 10px">
                            <p class="lead mb-80" style="font-size: 15px; margin-bottom: 35px">언제 어디서든 빠르게 <strong>내 주변의 맛집</strong>을 찾으세요</p>
                        </div>
                    </div>
                    <div class="row flex boxes two-columns-on-tablet" style="margin-bottom: 50px;">
                        <div class="column width-4">
                            <div class="box rounded bkg-white border-grey-light shadow-hover">
                                <div class="feature-image-01"></div>
                                <div class="feature-text feature-text-deco">
                                    <h4>검색어는 이렇게.</h4>
                                    <p>'지역 이름' + '맛집'으로 해주세요.</p>
                                </div>
                                <!-- <div class="feature-column large center">
                                    <span class="feature-icon icon-credit mt-20 mb-30 color-theme"></span>
                                    <div class="feature-text" >
                                        <h4>Totally Commissionless</h4>
                                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur.</p>
                                        <a href="#">Read More &rarr;</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="column width-4">
                            <div class="box rounded bkg-white border-grey-light shadow-hover">
                                <div class="feature-image-02"></div>
                                <div class="feature-text feature-text-deco">
                                    <h4>맛집이 와랄라.</h4>
                                    <p>마음에 드는 맛집에 '하트' 콕!</p>
                                </div>
                                <!-- <div class="feature-column large center">
                                    <span class="feature-icon icon-credit mt-20 mb-30 color-theme"></span>
                                    <div class="feature-text" >
                                        <h4>Totally Commissionless</h4>
                                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur.</p>
                                        <a href="#">Read More &rarr;</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="column width-4">
                            <div class="box rounded bkg-white border-grey-light shadow-hover">
                                <div class="feature-image-03"></div>
                                <div class="feature-text feature-text-deco">
                                    <h4>리스트로 확인.</h4>
                                    <p>'하트' 표시한 리스트가 쭉!</p>
                                </div>
                                <!-- <div class="feature-column large center">
                                    <span class="feature-icon icon-credit mt-20 mb-30 color-theme"></span>
                                    <div class="feature-text" >
                                        <h4>Totally Commissionless</h4>
                                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur.</p>
                                        <a href="#">Read More &rarr;</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section 03 -->
                <div class="section-block feature-1 pt-50 pb-0 bkg-charcoal-light section_third">
                    <div class="row">
                        <div class="column width-8 offset-2">
                            <div class="feature-content">
                                <div class="feature-content-inner pt-60 pt-mobile-60 center">
                                    <h5 class="mb-10 color-white opacity-09"><strong>애인에게 보여주세요.</strong></h5>
                                    <h3 class="mb-20 color-white horizon"><span data-animate-in="preset:slideInUpLong;duration:6000ms;" data-threshold="1"><strong>"널 위해 준비했어, 맛집부터 핫플까지."</strong></span></h3>
                                    <p class="lead mb-30 color-white opacity-07 horizon txt-deco"><span data-animate-in="preset:slideInUpLong;duration:6000ms;" data-threshold="1"><strong>당당하고도 용감하게</strong> '오모먹'에 미리 저장해둔 맛집 + 핫플 리스트를 보여주세요. 지겨운 데이트 코스에 질릴대로 질린 애인이 '기쁨'에 질릴 모습은 안 봐도 유튜브? <strong>잘 만든 리스트 하나</strong>, 백 데이트 무섭지 않아요!</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="column width-12">
                            <div class="feature-image">
                                <div class="thumbnail mb-0 section-third-img">
                                    <div class="img"></div>
                                    <img src="../static/images/main/main-section-3.jpg" width="1200" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section 03 End -->
            </div>
            <!-- Content End -->
            <!-- Footer -->
            <footer class="footer footer-fixed footer-light with-border">
                <div class="footer-top">
                    <div class="row flex">
                        <div class="column width-9">
                            <div class="row two-columns-on-tablet">
                                <!-- pc-footer -->
                                <div class="pc-footer">
                                    <div class="column width-3">
                                        <div class="widget">
                                            <h3 class="widget-title mb-30">스파르타코딩맛집</h3>
                                            <ul>
                                                <li><a href="https://spartacodingclub.kr" target="_blank">홈페이지</a></li>
                                                <li><a href="https://blog.naver.com/spartacoding" target="_blank">블로그</a></li>
                                                <li><a href="https://www.youtube.com/channel/UC2Fh3XoQYNYTba-cigq5cAA" target="_blank">유튜브</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="column width-3">
                                        <div class="widget">
                                            <h3 class="widget-title mb-30">맛집 탐방</h3>
                                            <ul>
                                                <li><a href="food-search">맛집 검색</a></li>
                                                <li><a href="myList">나만의 맛집 리스트</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column width-3">
                            <div class="widget right left-on-mobile">
                                <div class="footer-logo">
                                    <a href="index"><img src="../static/images/logo-footer.png" alt="omomuck" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row">
                        <div class="column width-12">
                            <div class="footer-bottom-inner">
                                <p class="copyright pull-left clear-float-on-mobile">&copy; Omomuck. All Rights Reserved.</p> <a href="#" class="scroll-to-top pull-right clear-on-mobile" data-no-hide>Back Top</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer End -->
        </div>
    </div>
    <!-- Js -->
    <script>
    $(document).ready(function() {
        $(document).bind("contextmenu", funciton(e) {
            return false;
        });
    });
    $(document)[0].oncontextmenu = funciton() { return false; }
    $(document).mousedown(function(e) {
        if (e.button == 2) {
            alert('내용을 복사할 수 없습니다');
            return false;
        } else {
            return true;
        }
    });
    </script>
    <!-- Js -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3JCAhNj6tVAO_LSb8M-AzMlidiT-RPAs"></script>
    <script src="../static/js/timber.master.min.js"></script>
</body>

</html>
